.products, .offers{
    background-color: #ffffff;
    font-family: Avenier;
    padding-top: 1rem;
    margin-top: 1rem;
    height: 45rem;
}

.acc-overview{
    background-color: #ffffff;
    font-family: Avenier;
    padding-top: 1rem;
    margin-top: 1rem;
    height: 30rem;
}

.activity{
    background-color: #ffffff;
    font-family: Avenier;
    padding-top: 1rem;
    margin-top: 1rem;
    height: 60rem;
}


.sub-head{
    padding-bottom: 2rem;
}

.products>ul{
    padding-left: 0px;
}

.products>ul>li{
    padding-bottom: 3rem;
    font-size: 12px
}

.exp-prod{
    font-size: 16px;
    float: left;
}

.activity-subHead{
    float: right
}

.see-all{
    float: right;
}

div.container-fluid.activity > div > div > a{
    padding: 2rem;
}

.table{
    border: 1px solid #707070;
    opacity: 1;
}
.table>tbody>tr>td{
    border-top: none;
    border-bottom: 1px solid #bdbbbb;
}

.table > thead > tr > td{
    border-bottom: 1px solid #707070;
}