.mainContainer{
top: 0px;
left: 0px;
background: #F4F4F4;
opacity: 1;
align-items: flex-start;
    margin-left: 60px;
    margin-right: 60px;

}

.navbar-nav{

        align-items: flex-start
}
.nav-link
{
color: #0D3450;
font-size: smaller;
opacity: 0.5;
}

.headerLinks{
color:white;
padding:20px;
font-size: 10px;
opacity: 0.70;
}
.seeAll{
text-underline-position: below;
        font-size: small;
}
.mHead{
  padding-right: 80px;
}
.aHead{
padding-right: 250px;
}
.exp-prod{
   text-align: left;
font: Regular 24px/32px Segoe UI;
letter-spacing: 0;
color: #0D3450;
opacity: 1;
    background-color: #FFFFFF;
    font: Regular 24px/32px Segoe UI; 
}
.rec-tranc, .freq-tranc{
    background-color: #ffffff;
    font-family: Avenier;
    padding-top: 1rem;
    margin-top: 1rem;
    /* height: 15rem; */
    margin-left: 15px;
    margin-right: 15px;
}
.tranc{
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    padding-left: 3rem;
    
}
.transaction{
    float: left;
    padding: 0rem 1rem;
    text-align: center;
    width: 100%;
    font-size: medium;
    color: #0D3450;
}
.tranc-head{
    color: #005FA3;
    font-size: 20px;
    font-family: "Segoe UI";
    font-weight: bold;
}
.header2{
box-shadow: 0px 3px 6px 00000029;
height:40px;
background-color: #FFFFFFE6;
}

.header1{
height:40px;

}
.rBorder{
border-left-color: lightgrey;
border-left-style:solid;
height: 20px;
margin-top: 40%
    
}
.searchTxt{
background: lightblue 0% 0% no-repeat padding-box;
border:none;
opacity: 0.70;
padding: 5px;
height:25px;
width: 150px;
color:white;
border-radius: 15px;
 color: #ffffff;
    font-size:15px;
    background-color:rgb(95, 200, 248);
    border-color: rgb(95, 200, 248);;
font-size: 10px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}






.glyphicon-search{
    color: #ffffff;
}
.navbar-dark{
    background-color: #2F92D9!important;
}
.navbar-nav{

   opacity: 1;
  font-weight: bold;
  font-size: smaller;
 
}
.search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
 .search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}