
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
}

.navbar-inverse{
    background-color: rgb(6, 124, 192);
    border-color: rgb(6, 124, 192);
}
.navbar-right{
    margin: 0px 0px 0px 0px;
    font-size: 12px;
}
.menu{
    padding-left: 3.5rem;
    font-family: Avenier;
    font-size: 16px;
}


.navbar-inverse .navbar-nav>li>a{
    color: #ffffff;
}

#submenu{
    margin-top: -2rem;
    margin-bottom: 0rem;
    padding-left: 5rem;
    color: rgb(1, 47, 68);
}

.navbar-default .navbar-nav>li>a{
    color: rgb(1, 47, 68);
    font-weight: 200;
}

.footer{
    background-color: rgb(1, 47, 68);
    /* position: fixed; */
    /* bottom: 1px; */
    width:100%;
    color: #ffffff;
    font-family: Avenier;
}

.search ,.search-btn{
    background-color:rgb(95, 200, 248);
    border-color: rgb(95, 200, 248);;
}

.search-box{
    padding-top:0.6rem
}

.search::placeholder{
    color: #ffffff;
    font-size:12px
}

.glyphicon-search{
    color: #ffffff;
}

.list{
    list-style-type:none;
     padding-left:0rem
}

.list >li{
    font-size: 10px;
    /* font-weight:normal; */
    font-family: Avenier;
}

.footer-list{
    margin-left: 2rem;
    margin-top: 2rem;
    padding-bottom: 8rem;
}

.login{
    background-image: url('../../assets/Banner_BG.png');
  
}
.footerImage{

     background-image: url('../../assets/footer.PNG');
}

.login-portal{
   background-color: rgb(6, 124, 192);
   margin-top:3rem;
   margin-bottom: 2rem;
   color: #ffffff;
   font-family: Avenier;
   width: 300px;
height: 315px;
border-radius:5px;
opacity: 0.70;
font-size: 10px
}

.boxText{
color: #08273D;
font-Size:9px;
padding-top: 10px;
font-weight: bold;
padding-left: 10px;

}

.boxText2{
color: #08273D;
font-Size:10px;
font-weight: bold;

}
.boxImgText{
padding-left: 25px;
height: 40px;
}
.login-box{
    margin-left: 60%;
    margin-top: -40px;
}
.borderCorner{
    background: white;
    margin: 5px;
    border-radius:10px;
    padding-left: 25px;
    padding-top: 25px;
    font-size: smaller;
    box-shadow : 0px 6px 12px #00000029;
}

.login-div{
    padding: 1rem 1rem 1rem 1rem;
}

.signIn{
    background-color: rgb(1, 28, 44);
    border-color: rgb(1, 28, 44);
}

.forget{
    color: #ffffff;
}

.icon-page{
    background-color: #ffffff;
    font-family: Avenier;
    margin-top: -5rem;
}

.bottom-icon{
    text-align: center;
}

label{
    font-size: 12px;
    font-weight: 200;
}

.dropdown-toggle{
    width: -webkit-fill-available;
    color:#555;
    background-color: #ffffff;
    text-align: left;
}

.icon-page-head{
    font-size: 20px;
    color: rgb(1, 47, 68);
    text-align: center;
    /* padding: 2rem; */
    margin-top: 5rem
}

.icons{
    padding: 3rem;
}

.icon-page-2{
    padding-bottom: 5rem;
}

.bottom-icon{
    font-family: Avenier;
    color: rgb(1, 47, 68);
    font-size:16px;
    padding-top: 3rem;
}

.icons-image{
    padding: 2rem;
}
.icon-page-head{
    font-size: 20px;
    color: rgb(1, 47, 68);
    text-align: center;
    /* padding: 2rem; */
    margin-top: 5rem
}
.footer1{

    text-align: center;
font: Regular 48px Segoe UI;
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
padding-left: 150px;
    font-size: larger;
    font-weight: bold;


}
.LoginText{
width: 200px;
height: 30px;
    background: #FFFFFFCC 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
font-size:smaller;
}

.LoginBtnText{
opacity: 1;
font-size:small;
}
.caret{

    padding-left: 100px
}
.paddTop
{

    margin-top: 5px;
    
    margin-bottom: 5px;
}
.bottomleft {
    margin: 0px;
    position: absolute;
    bottom: 180px;
    left: 125px;
    font-size: 18px;
}
.modal-content{

    width: 460px;
    height: 370px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: small;
    font-family:Segoe UI; 
    text-align: center;
    letter-spacing: 0;
color: #384455;
opacity: 1;
}
.modal-header{
   
    font-family:Segoe UI; 
    border-bottom: none;
    color: #384455;
    align-items: center;
   
}
.modal-body{
 font-size: small;
    font-family:Segoe UI; 
 text-align: center;
    letter-spacing: 0;
color: #384455;
opacity: 1;
margin-top: -20px;

}

.FormModal{
align-items: flex-start;
margin: 0px;

}
.Form{

margin: 0px;
}
.ModalP{
   margin-top: -12px;
    color: #2F92D9;
    font-size: larger;

}
.tokenTxt{

    border: 1px solid #2F92D9;
    opacity: 0.8;
    width: 132px;
    border-radius: 5px;
    margin-right: 20px;


}
.resendToken{
  font-family:Segoe UI; 
    background: #2F92D9 0% 0% no-repeat padding-box;
opacity: 1;
font-size: small;
width: 45%
}

.modalPwd{
border: 1px solid #2F92D9;
    opacity: 0.8;
    width: 100%;
    border-radius: 5px;
    margin-right: 20px;

}
.singUpbtn{
  font-family:Segoe UI; 
    background: #0A283C 0% 0% no-repeat padding-box;
opacity: 1;
font-size: small;
margin-top: 20px;
width: 100%

}

.ModalText{

text-align: left;
font-family:Segoe UI; 
font-size: small;
letter-spacing: 0;
color: #14334B;
opacity: 1;
}

.modal-title{
text-align: center;
font-family:Segoe UI; 
font-size: 25px;
font-weight: bold;
letter-spacing: 0;
color: #14334B;
opacity: 1;
}